* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    text-align: center;
}

@font-face {
    font-family: Alvaro;
    src: url(Typeface/Alvaro-Condensed.otf);
}

html{
    scroll-behavior: smooth;
    background: url(Images/OldCouch.jpg) fixed center no-repeat;
    background-size: cover;
}

header{
    width: 100%;
    height: 60px;
}

a {
    text-decoration: none;
    color: #efefef;
}

button {
    display: inline-block;
    background-color: #0000008a;
    padding: 2px 5px;
    border: 0;
    width: 125px;
    height: 25px;
    cursor: pointer;
}

h1 {
    text-align: center;
    color: #efefef;
    text-shadow: 1px 1px 10px rgba(0, 0, 0, 0.5), 1px 1px 10px rgba(0, 0, 0, 0.5);
    font-family: Alvaro;
    font-size: 125px;
    margin: 60px auto 10px;
    position: relative;
}

h2 {
    font-family:sans-serif;
    text-align: center;
}

img {
    height: 55px;
    padding: 10px;
}

#stream-links img {
    height: 40px;
}

.display img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    padding: 0;
    transition: .6s ease all;
}

.display img:hover {
    transform: scale(1.05);
}

#logo {
    width: 300px;
    margin: 7px auto auto auto;
    display: flex;
    justify-content: center;
}

/** Nav Bar Styling**/
#nav-bar {
    width: 250px;
    height: 25px;
    margin: auto;
    border-radius: 12.5px;
    display: flex;
    justify-content: center;
}

#lucky {
    border-radius: 0 12.5px 12.5px 0;
    color: #efefef;
}

select:focus + .focus {
    position: absolute;
    top: -1px;
    left: -1px;
    right: -1px;
    bottom: -1px;
    border: 2px solid var(--select-focus);
    border-radius: inherit;
  }

div select option:hover{
    color: red;
  }

  div select option{
    font-weight: bold;
  }
  div select{
    width: 200px;
    height: 80px;
  }
  label{
    font-weight: bolder;
    background: black;
    padding: 10px 18px;
    text-decoration: none;
    color: white;
    display: inline-block;
    background-color: #0000008a;
    padding: 2px 5px;
    border: 0;
    width: 350px;
    height: 125px;
    border-radius: 15px;
    cursor: pointer;
    font-size: x-large;
    font-weight: 800;
    color: #efefef;
    display: none;
}
/** Results Display**/
#results {
    height: 365px;
    width: calc(100% - 25px);
    margin: 0 auto 5%;
    border-radius: 8px;
    background-color: transparent;
    backdrop-filter: blur(3x);
    -webkit-backdrop-filter: blur(3px);
    overflow-x: hidden;
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    transition: 0;
}

#results:hover {
    overflow-x: scroll;
    overflow-y: visible;
}

#results::-webkit-scrollbar {
    width: 100%;
}

#results::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
    border-radius: 10px;
}

#results::-webkit-scrollbar-thumb {
    border-radius: 10px;
   background-color: #0000008a; 
}

.display {
    height: 300px;
    width: 250px;
    min-width: 250px;
    margin-top: 25px;
    border-radius: 5px;
    background-color: rgb(0, 0, 0);
    margin: auto clamprgb(0, 0, 0);
    transition: .5s ease-in-out;
}

.display:hover {
    box-shadow: 0 0 15px 1px #5c5c5c;
    transform: scale(1.05);
    border-radius: 0;
    
}
.title {
    width: 90%;
    height: 30px;
    margin: 10px auto;
    outline: #0f0f0f solid;
    color: #efefef;
    padding-top: 2px;
}

.picture {
    width: 230px;
    height: 220px;
    margin: 10px auto;
    overflow: hidden;
}

.rating {
    width: 100%;
    height: 30px;
    border-radius: 0 0 10px 10px;
    position: relative;
    bottom: 0;
}

/* Streaming Services*/
#stream-links {
    width: 100%;
    display: flex;
    flex-wrap: nowrap;
    position: fixed;
    bottom: 5px;
}

.links {
    display: inline-flex;
    margin: auto;
}

.MT{
    text-align: left;

  }
